<ion-header>
  <ion-navbar>
    <ion-title>Project</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form [formGroup]="projectForm" novalidate (ngSubmit)="save(projectForm.value, projectForm.valid, $event)">

    <ion-item>
      <ion-label color="primary" stacked>Name</ion-label>
      <ion-input [readonly]="true" type="text" placeholder="" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Description</ion-label>
      <ion-textarea type="text" rows="10" cols="30" placeholder="" formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Actor template</ion-label>
      <ion-select formControlName="ACTOR" multiple="false">
        <ion-option *ngFor="let actor of actoren | async" [value]="actor.$key" selected="actor.active">
          {{ actor.name }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-card *ngIf="selectedActor">
      <ion-card-header>
        {{ selectedActor.name }}
      </ion-card-header>
      <ion-card-content>
        {{ selectedActor.description }}
      </ion-card-content>
    </ion-card>

    <ion-buttons end>
      <button ion-button type="submit" color="secondary">Save</button>
      <button ion-button type="button" (click)="delete()" color="danger" *ngIf="existingProject">Delete</button>
    </ion-buttons>

  </form>

</ion-content>
