.scroll-content {
  overflow-y: auto !important;
}

.menu-item {
  cursor: pointer;
}

.hover-mouse {
  cursor: pointer;
}

.login-box {
  margin: auto;
  width: 350px;
  display: block;
  padding: 20px;
}

.login-buttons {
  margin-top: 12px;
}

.github-color {
  background-color: #24292e;

  &:hover {
    background-color: #373b40;
  }
}

.country-flags {
  img {
    width: 30px;
  }
}

.google-color {
  background-color: #dd4b39;

  &:hover {
    background-color: #dd4b39;
  }
}

.register-click {
  margin-top: 12px;
}

.card-subtitle {
  font-size: 1.0em;
  width: 100%;
}

.image-box {
  margin: auto;

  video {
    border-radius: 150px;
  }
}

.author-box {
  display: inline;
  background-color: #E3E3E3;
}

.actor-box {
  img {
    border-radius: 100px;
    width: 50px;
  }
}

.project-card {
  border-left: 3.4px solid #3f51b5;
}

.actor-project-list {
  display: inline;
}

.actor-button {
  height: 25px;
}

.float-box {
  position: relative;
  float: left;

  .header {
    position: relative;
    float: left;
  }

  .content {
    position: relative;
    float: left;
  }
}

.card-avatar {
  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
}

.avatar {
  cursor: pointer;
  margin: auto;
  width: 50%;

  h2,
  h3 {
    text-align: center;
  }

  img {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.profile {
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.profile:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 1200px;
  height: 800px;
  filter: blur(5px);
}
