<ion-header>
  <ion-toolbar>
    <ion-title>
      Change profile picture
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngIf="!tookPicture">
      <button (click)="takeScreenshot()" rounded ion-button color="primary">
        Take screenshot
        </button>
      <video class="image-box" #video width="200" height="200" autoplay></video>
    </ion-item>
    <ion-item>
      <h2 *ngIf="tookPicture">Looking good!</h2>
      <canvas class="canvas-box" #canvas width="250" height="250"></canvas>
    </ion-item>
  </ion-list>
</ion-content>
